* {
    padding: 0;
    margin: 0;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #000;
}

.progress-bar {

}

.label {
    color: white;
    font-size: 25px;
    margin-bottom: 6px;
}

.line-container {
    height: 15px;
    width: 300px;
    border: none;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0px 0px 15px 4px white;
    /* overflow: hidden; */
    position: relative;
}

.line-container .line-progress {
    height: 100%;
    width: 100%;
    box-shadow: 0px 0px 15px 4px red;
    border-radius: 8px 0px 0px 8px;

    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
}